<div>
    <h1>Deberá loguearse para ingresar</h1>
    <h2>Login</h2>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
    <p>¿No tenés usuario?<a href="/register">   Registrate acá</a></p>
    <br>
    <p>¿Olvidaste tu contraseña? <a href="/resetpassword">  Restaurala acá</a></p>
    <br>
    <a href="/"><button>Inicio</button></a>
</div>
<script src="/js/login.js"></script>