<div>
    <h1>Perfíl</h1>
    <p>Name: {{user.name}}</p>
    <p>Role: {{user.role}}</p>
    <p>Email: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
    <a href="/"><button>Inicio</button></a>
    <br>
    <a href="/logout"><button>Logout</button></a>
</div>