<div>
    <h1>Resetear contraseña de Usuario</h1>
    <form id="resetPasswordForm">
        <label>Email</label>
        <input name="email">
        <br><br>
        <label>Nueva Contraseña</label>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Continuar">
    </form>
</div>

<script src="/js/resetPassword.js"></script>